
{% extends "id3tagger_base.html" %}

{% block content %}

	<h2>Change ID3 Tags</h2>
	<p>Enter song name or path to songs folder</p>
	
	
	{% if error %}
        <p class="msg_error">{{ err_msg }}</p>
    {% endif %}
	
	
	
	<form action="/id3tagger/changeTag={{ search_term }}/" method="get">
		<input type="text" name="search_term">
        <input type="submit" value="Search">
	</form>
	
  
	
		
{% endblock content %}