
{% extends "id3tagger_base.html" %}

{% block content %}
	
	{% if form %}
	<form action="/id3tagger/changeTagForm={{ song_obj.path }}" method="post">
	{% csrf_token %}
	{% endif %}
	
	<fieldset>
		<label>Title: </label>{{ song_obj.title }}
		{% if form %}
			<label><span class="change_tag_form_label_new">Enter New Title: </span></label>
			<span class="change_tag_form_input">{{ form.title }}</span>
		{% endif %}
		<br>
		
		<label>Artist: </label>{{ song_obj.artists }}
		{% if form %}
			<label><span class="change_tag_form_label_new">Enter New Artist: </span></label>
			<span class="change_tag_form_input">{{ form.artists }}</span>
		{% endif %}
		<br>
		
		<label>Album: </label>{{ song_obj.album }}
		{% if form %}
			<label><span class="change_tag_form_label_new">Enter New Album: </span></label>
			<span class="change_tag_form_input">{{ form.album }}</span>
		{% endif %}
		<br>
		
		<label>Composer: </label>{{ song_obj.composers }}
		{% if form %}
			<label><span class="change_tag_form_label_new">Enter New Composer: </span></label>
			<span class="change_tag_form_input">{{ form.composers }}</span>
		{% endif %}
		<br>
		
		<label>Year: </label>{{ song_obj.year }}
		{% if form %}
			<label><span class="change_tag_form_label_new">Enter New Year: </span></label>
			<span class="change_tag_form_input">{{ form.year }}</span>
		{% endif %}
		<br>
		
		<label>Language: </label>{{ song_obj.language }}
		{% if form %}
			<label><span class="change_tag_form_label_new">Enter New Language: </span></label>
			<span class="change_tag_form_input">{{ form.language }}</span><br>
		{% endif %}
		<br>
		
		{% if form %}
			<span style="float: right">
			<input type="submit" value="Submit">
			<a href=""><input type="button" value="Cancel"/></a>
			</span>
			</form>
		{% endif %}
	
	</fieldset>
		
	
	<br>
	{% if error %}
		<p class="msg_error">{{ err_msg }}</p>
	{% endif %}
	
		
{% endblock content %}