
{% extends "id3tagger_base.html" %}

{% block content %}
	
	{% if song_dir %}
		<div class="msg_info">Analysed path: {{ song_dir }}</div>
	{% endif %}
	
	{% if songs_found %}
			<p><span class="msg_info">Number of MP3 files found:</span> {{ songs_found|length }}</p>
	{% endif %}
	
	{% if not songs_found and not songs_not_found %}
		<p><span class="msg_info">Location has no MP3 files</span></p>
	{% endif %}
	
	{% if songs_found %}
	
		<table>
	    
	    	<tr>
				<th></th>
	    		<th>Title</th>
	    		<th>Artist</th>
	    		<th>Album</th>
	    		<th>Composer</th>
	    		<th>Year</th>
	    		<th>Lang</th>
	    		<th>Path</th>
			</tr>
	    	
		    {% for obj in songs_found %}
	    	<tr>
				<td>
				<form action="/id3tagger/changeTagForm={{ obj.path }}" method="get">
				<input type="submit" value="Update">
				</form>
				</td>
			    <td> {{ obj.title }}</td>
			    <td> {{ obj.artists }}</td>
			    <td> {{ obj.album }}</td>
			    <td> {{ obj.composers }}</td>
			    <td> {{ obj.year }}</td>
			    <td> {{ obj.language }}</td>
			    <td> {{ obj.path }}</td>
		    </tr>
			{% endfor %}
		</table>
	{% endif %}
	
		
		
{% endblock %}