
{% extends "base.html" %}
{% block title %}ID3 Tagger{% endblock %}


{% block sidebar %}
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/id3tagger/changeTag/">Change Tag</a></li>
	</ul>
{% endblock %}
    