
{% extends "mp3db_base.html" %}

{% block content %}
	
	<p class="msg_info">Add Music to library</p>
	<p>Enter song name or path to songs folder</p>
	
	
	{% if error %}
        <p class="msg_error">{{ err_msg }}</p>
    {% endif %}
	
	
	
	<form action="/mp3db/addPrep/" method="get">
		<input type="text" name="search_term">
        <input type="submit" value="Search">
		<br><br>
		<input type="checkbox" name="comp_path" value="path">Compare path
	</form>
	
  
	
		
{% endblock content %}