
<!DOCTYPE html>
<html>
<head>
    <title>MP3 Database-Search</title>
    <style>
    body
    {
	background-color:#CCFFCC;
	}
    * {
		 font-size: 100%;
		 font-family: Arial;
	}
	table,th,td
	{
		border-collapse:collapse;
		border:1px solid black;
		border-spacing:5px;
	}
	th, td
	{
		padding:5px;
	}
	</style>
</head>
<body>
	
	<h1>Analysed path: {{ song_file }}</h1>
	
	{% if not song_found %}
		
		{% load mp3db_filters %}
		<form action="/mp3db/add/" method="post">{% csrf_token %}
			<input type="hidden" name="song_add" value={{ song_file|remove_spaces }}>
	        <input type="submit" value="Add to Database">
	    </form>
	    
    {% endif %}
	
	<table>
	    
    	<tr>
    		<th>Title</th>
    		<th>Artist</th>
    		<th>Album</th>
    		<th>Composer</th>
    		<th>Year</th>
    		<th>Lang</th>
    		<th>Path</th>
		</tr>
    	
    	<tr>
		    <td> {{ song_file.title }}</td>
		    <td> {{ song_file.artist }}</td>
		    <td> {{ song_file.album }}</td>
		    <td> {{ song_file.composer }}</td>
		    <td> {{ song_file.year }}</td>
		    <td> {{ song_file.language }}</td>
		    <td> {{ song_file }}</td>
	    </tr>
	</table>
	
    
</body>
</html>