
{% extends "mp3db_base.html" %}

{% block content %}
	
	{% if song_dir %}
		<div class="msg_info">Analysed path: {{ song_dir }}</div>
	{% endif %}
	
	{% if songs_found %}
			<p><span class="msg_info">Found in Database:</span> {{ songs_found|length }}</p>
	{% endif %}
	
	{% if songs_not_found %}
		<p><span class="msg_info">Not found in database:</span> {{ songs_not_found|length }}</p>
		<form action="/mp3db/add/" method="post">{% csrf_token %}
	        <input type="submit" value="Add All to Database">
	    </form>
		<br>
    {% endif %}
	
	{% if not songs_found and not songs_not_found %}
		<p><span class="msg_info">Database is empty</span></p>
	{% endif %}
	
	{% if songs_found %}
	
		<p class="msg_info">In Database</p>
			
		<table>
	    
	    	<tr>
	    		<th>Title</th>
	    		<th>Artists</th>
	    		<th>Album</th>
	    		<th>Composers</th>
	    		<th>Year</th>
	    		<th>Lang</th>
	    		<th>Path</th>
			</tr>
	    	
		    {% for obj in songs_found %}
	    	<tr>
			    <td> {{ obj.title }}</td>
			    <td> {{ obj.artists }}</td>
			    <td> {{ obj.album }}</td>
			    <td> {{ obj.composers }}</td>
			    <td> {{ obj.year }}</td>
			    <td> {{ obj.language }}</td>
			    <td> {{ obj.path }}</td>
		    </tr>
			{% endfor %}
		</table>
	{% endif %}
	
	{% if songs_not_found %}
		
		<br>
		<br>
		<p class="msg_info">Not in Database</p>
	
		<table>
	    
	    	<tr>
	    		<th>Title</th>
	    		<th>Artist</th>
	    		<th>Album</th>
	    		<th>Composer</th>
	    		<th>Year</th>
	    		<th>Lang</th>
	    		<th>Path</th>
			</tr>
	    	
		    {% for obj in songs_not_found %}
	    	<tr>
	    		<td> {{ obj.title }}</td>
			    <td> {{ obj.artists }}</td>
			    <td> {{ obj.album }}</td>
			    <td> {{ obj.composers }}</td>
			    <td> {{ obj.year }}</td>
			    <td> {{ obj.language }}</td>
			    <td> {{ obj.path }}</td>
		    </tr>
			{% endfor %}
		</table>
	{% endif %}
	
	
		
{% endblock %}