
{% extends "base.html" %}
{% block title %}MP3 Database{% endblock %}


{% block sidebar %}
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/mp3db/display/">View Database</a></li>
		<li><a href="/mp3db/addPage/">Add To Database</a></li>
		<li><a href="/mp3db/search/">Search Database</a></li>
		<li><a href="/mp3db/search/">Modify Database</a></li>
		<li><a href="/mp3db/syncDb/">Sync Database</a></li>
	</ul>
{% endblock %}
    