
{% extends "mp3db_base.html" %}

{% block content %}
	
	<br>
	<br>
	<p class="msg_info">Enter search criteria</p>
	
	{% if error %}
        <p class="msg_error">{{ err_msg }}</p>
    {% endif %}
	
	
	
	<form action="/mp3db/search/" method="post">{% csrf_token %}
		
		<p>
		Title contains: <input type="text" name="title" style="width:200px; height:20px;"><br>
		</p>
		
		<p>
		Artist contains: <input type="text" name="artist" style="width:200px; height:20px;"><br>
		</p>
		
		<p>
		Album contains: <input type="text" name="album" style="width:200px; height:20px;"><br>
		</p>
		
		<p>
		Composer contains: <input type="text" name="composer" style="width:200px; height:20px;"><br>
		</p>
		
		<p>
		Year: <input type="text" name="year" style="width:80px; height:20px;"><br>
		</p>
		
		<p>
		Language : <select name="language" style="width:80px; height:20px;">
		{% for lang in lang_list %}
			<option value={{ lang }}>{{ lang }}</option>
		{% endfor %}
		</select></p>
		
		<input type="submit" value="Search">
    </form>
    
  
	
		
{% endblock content %}