
html {
		width:100%;
		height:100%;
		font-family:"Verdana"
	}
	
body {
	background-color:#CCFFCC;
}
	
table,th,td {
	border-collapse:collapse;
	border:1px solid black;
	border-spacing:2px;
}

th, td {
	padding:5px;
}

.sidebar {
	
	float: left;
	width: 15%;
	height:100%;
	border: 2px solid black;
	padding: 1px;
	position:fixed;
	background-color: white;
	z-index: 100;
}

.sidebar ul {
	list-style-type:none
}

.sidebar li {
	padding-top:10px;
}

.content {
	float: right;
	width: 80%;
	padding-top: 5px
}

.msg_info {
	font-size: 12pt;
	font-weight: bold;
	padding: 2px;
}

.msg_error {
	color: red;
	font-weight: bold;
}
	
