
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
<style>
html {
	width:100%;
	height:100%;
	font-family:"Verdana";
	font-size: 1em;
}
	
body {
	background-color:#90FEFB	;
}
	
table,th,td {
	border-collapse:collapse;
	border:1px solid black;
	border-spacing:2px;
}

th, td {
	padding:5px;
}

.sidebar {
	
	float: left;
	width: 15%;
	height:100%;
	border: 1px solid black;
	padding: 1px;
	position:fixed;
	background-color: grey;
	z-index: 100;
}

.sidebar ul {
	list-style-type: none;
}

.sidebar li {
	padding-top: 10px;
}

.content {
	float: right;
	width: 83%;
	padding-top: 5px;
}

.msg_info {
	font-size: 1em;
	font-weight: bold;
	
}

.msg_error {
	color: red;
	font-weight: bold;
}

fieldset {
	border: 1px solid black;
}

label {
	font-size: 1em;
	font-weight: bold;
	line-height: 3;
}


.change_tag_form_label_new {
	position: absolute;
	left: 700px;
}

.change_tag_form_input {
	position: absolute;
	margin: 10px;
	right: 300px;
}


</style>
</head>

<body>

    <div class="sidebar">
		{% block sidebar %}{% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>